.zadanie1{
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    max-width: 300px;
    margin-bottom: 100px;
}

.kvadrat{
    background-color: orange;
    margin: 8px;
    height: 100px;
    width: 100px;
}

.zadanie2{
    background-color:rgba(25, 25, 112, 0.832) ;
    display: grid;
    width: fit-content;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    margin-bottom: 100px;
    padding: 6px 12px 12px 12px;
}



.yellowkvadrat{
    background-color: yellow;
    height: auto;
    width: auto;
}

.bluekvadrat{
    background-color: dodgerblue;
    width: auto;
    height: auto;
    grid-column: 1/3;
}


.bluekvadrat1{
    background-color: dodgerblue;
    height: auto;
    width: auto;
}

.redkvadrat{
    background-color: red;
    height: auto;
    width: auto;
}

.zadanie3{
    width: 500px;
    font-weight: bolder;
    color: black;
}